
/* this css file holds the animations I used for the buttons */

.animated-button {
    transition: all 0.3s ease; /* Smooth animation */
  }
  
  .animated-button:hover {
    background-color: #ffffff; /* Change background color on hover */
    color: rgb(210, 28, 246); /* Change text color on hover */
    transform: scale(1.05); /* Slightly scale the button */
  }
  